.blog__section {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  color: #444444;
}

.blog__post {
  padding: 10px;
  margin-bottom: 30px;
}

.blog__link {
  color: #4a4a4a;
}
